{{ define "main" }}

<section class="content-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="about-content">
          <h1>{{ .Params.heading }}</h1>
          <div class="about-description">
            {{ range split .Description "\n\n" }}
              {{ if . }}
                <p>{{ . | markdownify }}</p>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}