//site color variables
$body-color: #0a0a0f;
$primary-color: #05d9e8;
$secondary-color: #ff2a6d;
$text-color: #ffffff;
$text-color-dark: #b3b3b3;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #050507;
$dark-gray: #b3b3b3;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
