{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
	<p>Please reach out via <a href="https://linkedin.com/company/auridium-technologies-llc">LinkedIn</a> or email at <i>hello (@) auridium.tech</i> for inquiries. As we grow, forms and other methods of submission will appear here. Stay tuned! </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
